<div class="jumbotron text-center">
	<span ng-if="cal_view==='0'">
		<div ui-calendar="uiConfig.calendar" class="span8 calendar" ng-model="eventSources"></div>
	</span>

	<span ng-if="cal_view==='1'">
		<div class="row">
			<div class="col-xs-4">
				<div ui-calendar="uiConfig1.calendar" class="span8 calendar" ng-model="eventSources"></div>
			</div>
			<div class="col-xs-4">
				<div ui-calendar="uiConfig2.calendar" class="span8 calendar" ng-model="eventSources"></div>
			</div>
			<div class="col-xs-4">
				<div ui-calendar="uiConfig3.calendar" class="span8 calendar" ng-model="eventSources"></div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-xs-4">
				<div ui-calendar="uiConfig4.calendar" class="span8 calendar" ng-model="eventSources"></div>
			</div>
			<div class="col-xs-4">
				<div ui-calendar="uiConfig5.calendar" class="span8 calendar" ng-model="eventSources"></div>
			</div>
			<div class="col-xs-4">
				<div ui-calendar="uiConfig6.calendar" class="span8 calendar" ng-model="eventSources"></div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-xs-4">
				<div ui-calendar="uiConfig7.calendar" class="span8 calendar" ng-model="eventSources"></div>
			</div>
			<div class="col-xs-4">
				<div ui-calendar="uiConfig8.calendar" class="span8 calendar" ng-model="eventSources"></div>
			</div>
			<div class="col-xs-4">
				<div ui-calendar="uiConfig9.calendar" class="span8 calendar" ng-model="eventSources"></div>
			</div>
		</div>
	</span>
</div>